<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :activity_type %>
    <%= form.select(:activity_type,[ 
    ['Walking', 'Walking'], 
    ['Running', 'Running'],
    ['Cycling', 'Cycling'],
    ['Swimming', 'Swimming'],
    ['Skating', 'Skating'],
    ['Hiking', 'Hiking'],
    ['Mountain Biking', 'Mountain Biking'],
    ['Circuit Training', 'Circuit Training'],
    ['Strength Training', 'Strength Training'],
    ['Snow Boarding', 'Snow Boarding']
    ]) 
    %>

    <%= javascript_pack_tag 'timer'%>

    <% # form.select_tag(:activity_type, options_for_select([['Walking', 'Walking'], ['Running', 'Running']], form.object.activity_type)) %>
    <%= form.date_field :date%>
    <%= form.text_field :duration, id: "activity_duration" %>

    <a class="btn btn-primary" id="start">Start</a> 
    <a class="btn btn-primary" id="stop">Stop</a>
    <a class="btn btn-primary" id="duration">Get duration</a><br/>

    <% # check countdown timer gem%>
    <%= form.submit 'Log Activity' %>
  </div>
<% end %>
